@using System.Diagnostics

@page "/player"

<h3>Player Edit</h3>
@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@player" OnValidSubmit="@player.ValidSubmit">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label for="name" class="control-label">FirstName: </label>
                    <InputText id="firstName" @bind-Value="player.FirstName" class="form-control" />
                    <ValidationMessage For="@(() => player.FirstName)" />
                </div>
                <div class="form-group">
                    <label for="address" class="control-label">LastName: </label>
                    <InputText id="lastName" @bind-Value="player.LastName" class="form-control" />
                    <ValidationMessage For="@(() => player.LastName)" />
                </div>
                <div class="form-group">
                    <label for="city" class="control-label">Age: </label>
                    <InputNumber id="age" @bind-Value="player.Age" class="form-control" />
                    <ValidationMessage For="@(() => player.Age)" />
                </div>
                <div class="form-group">
                    <label for="state" class="control-label">Alias: </label>
                    <InputText id="alias" @bind-Value="player.Alias" class="form-control" />
                    <ValidationMessage For="@(() => player.Alias)" />
                </div>
                <div class="form-group">
                    <label for="state" class="control-label">Year Of Birth: </label>
                    <InputNumber id="yearOfBirth" @bind-Value="player.YearOfBirth" class="form-control" />
                    <ValidationMessage For="@(() => player.YearOfBirth)" />
                </div>
                <div class="form-group">
                    <label for="state" class="control-label">Mounth: </label>
                    <InputNumber id="mounth" @bind-Value="player.Mounth" class="form-control" />
                    <ValidationMessage For="@(() => player.Mounth)" />
                </div>
                <div class="form-group">
                    <label for="state" class="control-label">Day: </label>
                    <InputNumber id="day" @bind-Value="player.Day" class="form-control" />
                    <ValidationMessage For="@(() => player.Day)" />
                </div>
                <button type="submit">Add Player</button>
            </EditForm>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Alias</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in players)
                    {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Age</td>
                            <td>@item.Alias</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}